<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>
  </head>
  <body>
    <main>
      <div class="container mt-3">
        <p>Enter a URL of an article / a blog to discover its sentiment.</p>
        <section>
          <form id="form">
            <div class="form-group row">
              <label for="article-url" class="col-sm-2 col-form-label"
                >URL</label
              >
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="article-url"
                  placeholder="Enter Article URL here"
                  name="input"
                  value=""
                />
                <br />
                <button type="submit" class="btn btn-outline-primary">
                  Analyze
                </button>
              </div>
            </div>
          </form>
        </section>
        <section>
          <strong>Form Results:</strong>

          <ul class="list-group list-group-flush col-sm-8">
            <li class="list-group-item">
              <div><strong>Text:</strong> <span id="text"></span></div>
            </li>
            <li class="list-group-item">
              <div><strong>Agreement:</strong> <span id="agreement"></span></div>
            </li>
            <li class="list-group-item">
              <div><strong>Subjectivity:</strong> <span id="subjectivity"></span></div>
            </li>
            <li class="list-group-item">
              <div><strong>Confidence:</strong> <span id="confidence"></span></div>
            </li>
            <li class="list-group-item">
              <div><strong>Irony:</strong> <span id="irony"></span></div>
            </li>
            <li class="list-group-item">
              <div><strong>Score Tag:</strong> <span id="score_tag"></span></div>
            </li>
          </ul>
        </section>
      </div>
    </main>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
